<div class="panel panel-default outer-panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3 class="panel-title">Catalog Detail</h3></div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @catalog.name %></dd>
      <dt>Source</dt>
      <dd><%= @catalog.source %></dd>
      <dt>Active</dt>
      <dd><%= @catalog.active %>
    </dl>
  </div>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h3 class="panel-title">Books</h3></div>
    <table class="table table-striped table-condensed">
      <caption>
        <%= link_to '<i class="glyphicon glyphicon-plus"></i> New Book'.html_safe, new_admin_catalog_catalog_entry_url(@catalog), :class => "btn btn-xs btn-primary", :remote => true %>
      </caption>
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Level</th>
          <th>Price</th>
          <th>ISBN</th>
          <th>AR Level</th>
          <th>AR Points</th>
          <th>GRL</th>
          <th>DRA</th>
          <th>Disabled</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
    <%= render :partial => 'common/catalogs/catalog_entry', :collection => @catalog.catalog_entries.includes(:book).order("books.title"), :locals => {:catalog_actions => true} %>
      </tbody>
    </table>
  </div>
</div>
