<div class="container-fluid">
  <div class="row bg-image-about">
    <%= render 'common/navbar' %>
    <div class="page-headline">
      <h1>We love our sponsors!</h1>
      <h3>These great companies make it possible</h3>
    </div>
    <div class="col-md-0 col-md-offset-6 col-sm-offset-6 col-xs-offset-6 mouse">
      <img src="<%= asset_path('scroll-button.png') %>" />
    </div>
  </div>
</div>


<%= scrivito_tag_list :ul, @obj, :toclist do |list, child| %>
  <%= list.tag :li do %>
    <%= link_to child.display_title, scrivito_path(child) %>
  <% end %>
<% end %>

<%= scrivito_tag :h1, @obj, :title %>
<%= scrivito_tag :div, @obj, :body %>
