<%= form_for [:admin, @content], html: {class: 'form-horizontal'} do |f| %>

  <div class="form-group">
    <%= f.label :name, class: "col-md-1 control-label" %>
    <div class="col-md-4">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :action_name, class: "col-md-1 control-label" %>
    <div class="col-md-4">
      <%= f.text_field :action_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :content, class: "col-md-1 control-label" %>
    <div class="col-md-4">
      <%= f.text_area :content, class: "form-control", :rows => 12, :columns => 88 %>
    </div>
  </div>


  <div class="form-group">
    <div class="col-md-offset-1 col-md-4">
      <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
      <%= link_to 'Back', admin_contents_url(), :class => "btn btn-default"%>
    </div>
  </div>


<% end %>
