<%= form_for [get_namespace, @appreciation_note.wishlist.campaign.organization, @appreciation_note.wishlist.campaign, @appreciation_note.wishlist, @appreciation_note], 
:html => {:class => "form-horizontal"}, remote: true do |f| %>
  <p>Use your mouse to write an appreciation note in the box below.</p>
  <div class="form-group">
    <%= f.label :note, class: "col-md-1 control-label" %>
    <div class="col-md-11">
      <canvas id="noteCanvas" width="600" height="450" style="cursor: crosshair; box-shadow: 5px 5px grey; border: 1px solid gray; background-image: url('<%= asset_path('notebook-paper.png') %>');"></canvas>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-1 control-label">&nbsp;</label>
    <div class="col-md-11">
      <div class="btn-group" role="group" aria-label="Note controls">
        <button type="button" class="btn btn-default" id="clear-note">Clear</button>
        <button type="button" class="btn btn-default" id="undo-note">Undo</button>
        <div class="color-option btn selected" data-color="rgb(0,0,0)">
          <%= image_tag 'black-crayon.png' %>
        </div>
        <div class="color-option btn" data-color="rgb(39,95,198)">
          <%= image_tag 'blue-crayon.png' %>
        </div>
        <div class="color-option btn" data-color="rgb(105,163,49)">
          <%= image_tag 'green-crayon.png' %>
        </div>
        <div class="color-option btn" data-color="rgb(221,55,47)">
          <%= image_tag 'red-crayon.png' %>
        </div>
        <div class="color-option btn" data-color="rgb(236,169,62)">
          <%= image_tag 'orange-crayon.png' %>
        </div>
        <div class="color-option btn" data-color="rgb(134,78,158)">
          <%= image_tag 'purple-crayon.png' %>
        </div>
        <div class="color-option btn" data-color="rgb(239,219,73)">
          <%= image_tag 'yellow-crayon.png' %>
        </div>
        <div class="color-option btn" data-color="rgb(255,255,255)">
          <%= image_tag 'eraser.png' %>
        </div>
      </div>
    </div>
</div>
    <%= f.hidden_field :note %>
    <%= f.hidden_field :data %>
<% end %>
<script>
var canvas = document.querySelector("#noteCanvas");
var signaturePad = new SignaturePad(canvas, {
  minWidth: 2.5,
  maxWidth: 6
});
<% if @appreciation_note.data %>
try {
  var data = JSON.parse('<%= @appreciation_note.data.html_safe %>');
  signaturePad.fromData(data);
} catch(err) {}
<% end %>

$('#clear-note').on('click', function() {
  signaturePad.clear();
});

$('#undo-note').on('click', function() {
  var data = signaturePad.toData();

  if (data) {
    data.pop(); // remove the last dot or line
    signaturePad.fromData(data);
  }
});
$('.modal-body form').on('submit', function() {
  $('#appreciation_note_note').val(signaturePad.toDataURL());
  $('#appreciation_note_data').val(JSON.stringify(signaturePad.toData()));
});

$('.color-option').on('click', function() {
  signaturePad.penColor = $(this).data('color');
  $('.selected').removeClass('selected');
  $(this).addClass('selected');
});
</script>