<div class="col-sm-12 col-md-2 align-left search-entry">
  <div class="pull-left">
    <h3><%= wishlist.public_name %>, <small>Age: <%= wishlist.reader_age %></small></h3>
    <h4 class="text-muted"><%= wishlist.campaign.organization.name %></h5>
    <h5 class="text-muted">Teacher: <%= wishlist.teacher %></h4>
    <ul class="list-group">
      <%= render partial: 'wishlist_entry', collection: wishlist.wishlist_entries %>
    </ul>
    <p><%= link_to 'Donate', donate_url({:wishlist_id => wishlist.id, :amount => 30.00, :campaign_name => wishlist.campaign.name, :schoolname => wishlist.campaign.organization.name, :reader_name => wishlist.public_name}), :class => 'btn btn-primary' if wishlist.wishlist_total > wishlist.donation_total %>
       <%= link_to 'Sponsored', '#', :class => 'btn btn-default', :disabled => true if wishlist.wishlist_total <= wishlist.donation_total %></p>
  </div>
</div>
