<div class="col-sm-6 col-md-2">
  <div class="thumbnail">
    <img src="<%= wishlist.wishlist_entries.first.catalog_entry.book.cover_image_url %>" alt="<%= wishlist.wishlist_entries.first.catalog_entry.book.title %>" style="height: 200px;">
    <div class="caption">
      <h3><%= wishlist.public_name %><small><%= wishlist.campaign.organization.name %></small></h3>
      <dl class="dl-horizontal">
        <dt>Age</dt>
        <dd><%= wishlist.reader_age %></dd>
        <dt>Gender</dt>
        <dd><%= wishlist.reader_gender %></dd>
      </dl>
      <ul class="list-group">
        <%= render partial: 'wishlist_entry', collection: wishlist.wishlist_entries %>
      </ul>
      <p><%= link_to 'Donate', home_donate_url({:wishlist_id => wishlist.id, :amount => 30.00, :campaign_name => wishlist.campaign.name, :schoolname => wishlist.campaign.organization.name}), :class => 'btn btn-primary' if wishlist.wishlist_total > wishlist.donation_total %></p>
    </div>
  </div>
</div>
