<div class="search-entry" data-wishlist-id=<%= wishlist.id %>>
  <div>
    <div class="search-entry-header">
      <h3><%= wishlist.public_name %> - Age <%= wishlist.reader_age %></h3>
      <h4>Grade - <%= wishlist.grade %></h4>
      <h4 class="text-muted"><%= wishlist.campaign.organization.name %></h5>
      <h5 class="text-muted">Teacher: <%= wishlist.teacher %></h4>
    </div>
    <div class="list-group">
      <%= render partial: 'wishlist_entry', collection: wishlist.wishlist_entries %>
    </div>
    <%
    has_price = !@wishlist_prices[wishlist.id].nil?
    has_donation = !@donations[wishlist.id].nil?
    funded = has_price && has_donation && @wishlist_prices[wishlist.id] <= @donations[wishlist.id]
    %>
    <p><%= link_to 'Sponsor This Child', donate_url({:id_list => wishlist.id}), :class => 'btn btn-primary btn-notsponsored' if !funded %>
       <%= link_to 'Sponsored', '#', :class => 'btn btn-default disabled btn-sponsored', :disabled => true if funded %></p>
  </div>
</div>
