<%
  unique_id = 1 + rand(10000)
  has_price = !@wishlist_prices[wishlist.id].nil?
  has_donation = !@donations[wishlist.id].nil?
  funded = has_price && has_donation && @wishlist_prices[wishlist.id] <= @donations[wishlist.id]
  is_classroom_sponsored = @classroom_sponsored.include?(wishlist.id)
%>
<div class="search-entry" data-wishlist-id=<%= wishlist.id %>>
  <div>
    <div class="search-entry-header">
      <h3><%= wishlist.public_name %>
        <% if wishlist.reader_age %>
         - Age <%= wishlist.reader_age %>
         <% end %></h3>
      <h4>Grade - <%= wishlist.grade %></h4>
      <h4 class="text-muted"><%= wishlist.campaign.organization.name %></h4>
      <h4 class="text-muted">Teacher: <%= wishlist.teacher %></h4>
      <%= button_to 'Sponsor Classroom', sponsor_classroom_url(:teacher => wishlist.teacher, :campaign_id => wishlist.campaign.id), remote: true, :class => 'btn btn-primary btn-notsponsored-class' unless is_classroom_sponsored %>
	  <%= button_to 'Sponsor Grade', sponsor_grade_url(:teacher => wishlist.grade, :campaign_id => wishlist.campaign.id), remote: true, :grade => 'btn btn-primary btn-notsponsored-grade' unless is_grade_sponsored %>
    </div>
    <div class="visible-xs" id="wishlist-book-list-toggle">
      <button class="btn btn-default btn-xs" data-toggle="collapse" data-target="#book-list-<%= unique_id%>" aria-expanded="false" aria-controls="book-list-<%= unique_id%>">
        Show Books
      </button>
    </div>
    <div class="list-group wishlist-book-list collapse" id="book-list-<%= unique_id%>">

      <%= render partial: 'home/wishlist_entry', collection: wishlist.wishlist_entries %>
    </div>
    <p><%= link_to 'Sponsor This Child', donate_url({:id_list => wishlist.id}), :class => 'btn btn-primary btn-notsponsored' if !funded %>
       <%= link_to 'Sponsored', '#', :class => 'btn btn-default disabled btn-sponsored', :disabled => true if funded %></p>
  </div>
</div>
