

 <script>
var Campaign = "<%= @Campaign %>"; //Campaign name
var SchoolName = "<%= @schoolname %>"; //Organization name
var WishlistID = "<%= @wishListID %>"; // org wishlist ID
var DonationLevel = <%= @donationLevel %>; // org donationlevel
var ReaderName = "<%= @reader_name %>"; // reader name

function kimbiaSuccess(kimbiaResponse) {
  var initCharge = kimbiaResponse.initialCharge.replace("$", "");
  var confCode = kimbiaResponse.confirmationCode;
  var wishlistId = getValueByLabel(kimbiaResponse.answers[0], 'Wishlist ID');

  $.ajax({
    url: '<%= success_url %>',
    dataType: 'json',
    method: 'POST',
    data: {'id_list': wishlistId, 'amount': initCharge, 'confirmation_code': confCode},
    success: function(data) {

    }
  });
}
//Helper function from Widget_DataObject_JS.pdf
function getValueByLabel(aSignup, labelText, sublabelText){
  for(var a = 0; a < aSignup.length; a++){
    var formAnswerObject = aSignup[a];
    if(formAnswerObject.questionLabel === labelText){
      if(sublabelText == null || sublabelText == '' || formAnswerObject.questionSubLabel == sublabelText) {
        return formAnswerObject.data;
      }
    }
  }
  // found none
  return '';
}

function kimbiaSubmit(f) {
  $(f.view.theForm.getElementsByTagName('button')[0]).hide();
  $(f.view.theForm.getElementsByTagName('button')[0]).after($('<span id="spinner">Submitting...</span>'))
}

function kimbiaResponse(f) {
  $(f.view.theForm.getElementsByTagName('button')[0]).show();
  $(f.view.theForm.getElementsByTagName('button')[0]).find('#spinner').remove();
}
</script>

<div class="container">
  <p>&nbsp;</p>
  <p>
    <%= link_to 'Wish Lists', search_url(@slug), class: 'btn btn-primary btn-lg' %> Back to wish list search
  </p>
<!-- script to populate form tag -->
<% if ENV['IS_PRODUCTION'] %>
<script src="https://widgets.kimbia.com/widgets/form.js?channel=barbarabushhoustonliteracyfoundation/bbhlvirtualbookdrive&oncomplete=kimbiaSuccess&onbeforesubmit=kimbiaSubmit&onplatformresponse=kimbiaResponse"></script>
<% else %>
<script src='https://widgets.kimbia.com/widgets/form.js?channel=barbarabushhoustonliteracyfoundation/bbhlvirtualbookdrivetest&oncomplete=kimbiaSuccess&onbeforesubmit=kimbiaSubmit&onplatformresponse=kimbiaResponse'></script>
<% end %>
</div>
