<!-- <div class="bg-image bg-image-home">
  <div>
    <h1>Inspiring Readers By Providing Home Libraries To Children In Need</h1>
    <h3>An initiative of the Barbara Bush Literacy Foundation</h3>
    <button>Learn More</button>
  </div>
</div> -->
<div class="container-fluid">
  <div class="row">
    <nav class="main navbar navbar-default bg-image-home">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="non-admin"><img class="non-admin" src="<%= asset_path('my-home-library.png') %>" alt="Barbara Bush Houston Literacy Foundation" /></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a class="non-admin" href="">About Us</a></li>
          <li><a class="non-admin" href="">Our Partners</a></li>
          <li><a class="non-admin" href="">Get Involved</a></li>

          <% unless session[:userinfo].nil?  -%>
          <% if user_is_admin? -%>
          <li><%= link_to 'Admin', '/admin' %></li>
          <% end -%>

          <li>
            <a href="#"><img class="avatar" src="<%= session[:userinfo]['info']['image'] %>" alt="<%= session[:userinfo]['info']['name'] %>" />
              <span class="hidden-sm"><%= session[:userinfo]['info']['name'] %></span>
            </a>
          </li>

          <li><a href="/logout?returnTo=<%= request.base_url %>&client_id=<%= Rails.application.secrets.auth0_client_id %>">Logout</a></li>
          <% end -%>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a class="non-admin btn" href="search">Sponsor a Child</a></li>

          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle non-admin btn" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Donate to Program <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <% Organization.where("is_included = ?", true).each do |org| %>
                <li>
                  <%= link_to(org.name, search_url(org.slug)) %>
                </li>
                <% end %>
            </ul>
          </li>
        </ul>
      </div>
      <div class="page-headline">
        <h1>Inspiring Readers By Providing Home Libraries To Children In Need</h1>
        <h3>An initiative of the Barbara Bush Literacy Foundation</h3>
        <button>Learn More</button>
      </div>
      <div class="col-md-0 col-md-offset-6 mouse">
        <img src="<%= asset_path('scroll-button.png') %>" />
      </div>

    </nav>
  </div>
</div>




<!-- <div class="container-fluid home">
  <div class="row wireframe" id="banner">
    <div class="col-md-12 wireframe"></div>
  </div>
  <div class="row wireframe descriptions">
    <div class="col-md-4 wireframe descriptions" id="aboutus"></div>
    <div class="col-md-8 wireframe descriptions" id="mission"></div>
  </div>
  <div class="row wireframe descriptions">
    <div class="col-md-5 wireframe descriptions" id="sponsors"></div>
    <div class="col-md-7 wireframe descriptions" id="kids"></div>
  </div>
  <div class="row wireframe" id="mini-banner">
    <div class="col-md-12 wireframe"></div>
  </div>
  <div class="row wireframe">
    <div class="col-md-6 wireframe facts"></div>
    <div class="col-md-6 wireframe facts"></div>
  </div>
  <div class="row wireframe">
    <div class="col-md-12 wireframe" id="slider"></div>
  </div> -->




  <!-- <div class="row featurette hero-top">
    <div class="col-sm-3 ">
      <span class="pull-right mhl-logo">
        <img src="<%= asset_path('my-home-library.png') %>" alt="My Home Library Logo" />
      </span>
    </div>
    <div class="col-sm-6">
      <h2 class="featurette-heading">My Home Library</h2>
      <p class="lead">
        <%= @content['mhl_lead'] %>
      </p>
    </div>
  </div> -->

  <!-- <div class="row featurette hero1">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 class="featurette-heading">Sponsor a child</h2>
      <p class="lead">
        <%= @content['sponsor_lead'] %>
      </p>
      <p>
        <%= link_to 'Sponsor', search_url, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div> -->

  <!-- <div class="row featurette hero2">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 class="featurette-heading">Start your library</h2>
      <p class="lead">
        Children in our partner schools can pick books they want to own in their
        home library by creating a wish list.
      </p>
      <p>
        <a href="/partner/" class="btn btn-primary btn-lg">Make a Wishlist</a>
      </p>
    </div>
  </div> -->



  <!-- <%= render :partial => 'common/sponsor' %> -->



<!-- </div> -->
