
<h3>List of campaigns</h3>
<table class="table list-campaigns">
  <tr class="table row list-campaigns">
    <th>Name</th>
    <th>Deadline</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
    <!-- <th><i class="glyphicon glyphicon-edit"></i></th> -->
  </tr>
 <tr class="table row campaign-info">
 	<td>ABCDE</td>
	<td>10222016</td>
	<td>10222016</td>
	<td>10222016</td>   
	<td><button type="button" class="btn btn-secondary edit-wishlist">Wishlist</button></td>
 </tr>
 <tr class="table row campaign-info">
 	<td>ABCDE</td>
	<td>10222016</td>
	<td>10222016</td>
	<td>10222016</td>   
	<td><button type="button" class="btn btn-secondary edit-wishlist">Wishlist</button></td>
 </tr>
 <tr class="table row campaign-info">
 	<td>ABCDE</td>
	<td>10222016</td>
	<td>10222016</td>
	<td>10222016</td>   
	<td><button type="button" class="btn btn-secondary edit-wishlist">Wishlist</button></td>
 </tr>
 <tr class="table row campaign-info">
 	<td>ABCDE</td>
	<td>10222016</td>
	<td>10222016</td>
	<td>10222016</td>   
	<td><button type="button" class="btn btn-secondary edit-wishlist">Wishlist</button></td>
 </tr>
 <tr class="table row campaign-info">
 	<td>ABCDE</td>
	<td>10222016</td>
	<td>10222016</td>
	<td>10222016</td>   
	<td><button type="button" class="btn btn-secondary edit-wishlist">Wishlist</button></td>
 </tr>
<% @campaign.each do |c| %>
  <tr class="table row campaign-info">
    <td><%= c.name %></td>
	<td><%= c.deadline %></td>
	<td><%= c.created_at %></td>
	<td><%= c.updated_at %></td>   
	<td><button type="button" class="btn btn-secondary edit-wishlist" data-id=<%= c.id %>>Wishlist</button></td>
  </tr>
<% end %>
</table>

