<h1 class="featurette-heading text-center">Fund a Child's Dream Library</h1><br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <p>Reader Name</p>
      <p>Age</p>
      <%= link_to 'Donate'.html_safe, new_admin_organization_url, :class => "btn btn-primary btn-sm" %>
    </div>
    <div class="col-sm-4">
      <p>Reader Name</p>
      <p>Age</p>
      <%= link_to 'Donate'.html_safe, new_admin_organization_url, :class => "btn btn-primary btn-sm" %>
    </div>
    <div class="col-sm-4">
      <p>Reader Name</p>
      <p>Age</p>
      <%= link_to 'Donate'.html_safe, new_admin_organization_url, :class => "btn btn-primary btn-sm" %>
    </div>
    <br>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p>Reader Name</p>
      <p>Age</p>
      <%= link_to 'Donate'.html_safe, new_admin_organization_url, :class => "btn btn-primary btn-sm" %>
    </div>
    <div class="col-sm-4">
      <p>Reader Name</p>
      <p>Age</p>
      <%= link_to 'Donate'.html_safe, new_admin_organization_url, :class => "btn btn-primary btn-sm" %>
    </div>
    <div class="col-sm-4">
      <p>Reader Name</p>
      <p>Age</p>
      <%= link_to 'Donate'.html_safe, new_admin_organization_url, :class => "btn btn-primary btn-sm" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p>Reader Name</p>
      <p>Age</p>
      <%= link_to 'Donate'.html_safe, new_admin_organization_url, :class => "btn btn-primary btn-sm" %>
    </div>
    <div class="col-sm-4">
      <p>Reader Name</p>
      <p>Age</p>
      <%= link_to 'Donate'.html_safe, new_admin_organization_url, :class => "btn btn-primary btn-sm" %>
    </div>
    <div class="col-sm-4">
      <p>Reader Name</p>
      <p>Age</p>
      <%= link_to 'Donate'.html_safe, new_admin_organization_url, :class => "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>
