<div class="row featurette hero-top">
  <div class="col-md-2 col-sm-2">
    <div data-spy="affix" id="sponsor-list" class="hidden-xs" data-id-list="" data-offset-top="50" data-offset-bottom="740">
      <% if live_campaigns? -%>
        <h3>Children I Want to Sponsor</h3>
        <ul class="list-group" id="sponsor-list">
          <li id="empty-list-message" class="list-group-item disabled">No wish lists selected</li>
        </ul>
        <%= link_to 'Checkout', donate_url(), :class => 'btn btn-warning disabled', :id => 'checkout-btn' %>
      <% end -%>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1">
    <h2 class="featurette-heading">Home Libraries<%= " for #{@organization.name}" unless @organization.nil? %></h2>
    <p class="lead"><%= live_campaigns? ? @content['sponsor_lead'] : @content['sponsor_lead_no_campaign'] %></p>
    <% if @organization.nil? -%>
      <p>
        <%= link_to 'General Donation', donate_url(), :class => 'btn btn-primary' %>
      </p>
    <% else -%>
      <p>
        <%= link_to "General Donation to #{@organization.name}", donate_url(:campaign_id => @organization.current_campaign), :class => 'btn btn-primary' if live_campaigns? %>
        <%= link_to "General Donation to #{@organization.name}", donate_url(:organization_id => @organization.id), :class => 'btn btn-primary' unless live_campaigns? %>
      </p>
    <% end -%>
    <% if live_campaigns? %>
      <%= form_tag("/wishlists?slug=#{params[:slug]}", method: :get, remote: true) do %>
        <div class="input-group">
          <input class="form-control" name="term" id="term" placeholder="Name, teacher, or school" />
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">Search</button>
          </span>
      </div>
      <% end -%>
    <% end -%>
  </div>
</div>
<% if live_campaigns? -%>
  <div class="row">
    <div class="col-md-8 col-md-offset-3 col-sm-offset-3 col-sm-8">
      <div id="search_results">
        <%= render partial: 'search_results', locals: {wishlists: @wishlists} %>
      </div>
      <p>
        <%= link_to 'Load More Wish Lists', "/wishlists?slug=#{params[:slug]}&append=true", :remote => true, :class => 'btn btn-info', :id => 'load-more' %>
      </p>
    </div>
  </div>
<% end -%>

<%= render :partial => 'common/sponsor' %>
<%= content_for :foot do %>
<script>
var preselected = "<%= session[:wishlist_cart] %>";

$(document).ready(function() {
  $.each(preselected.split(','), function(idx, id){
    addIdToCart(id);
  });
});
$('body').on("click", '.search-entry a', function() {
  if (!$('#sponsor-list').is(':visible')) return true;
  var entry = $(this).closest('.search-entry');
  addToCart(entry);
  return false;
});

$('body').on("click", '.list-group-item button', function() {
  var entry = $(this).closest('li');
  var id = entry.data('wishlist-id');
  var idList = updateIdList(id, null, true);

  entry.remove();

  return false;
});

function updateIdList(id, text, isRemove) {
  var list = $('#sponsor-list');
  var idList = list.data('id-list');

  if (idList.length == 0) {
    idList = [];
  }

  if (!isRemove && idList.indexOf(id) >= 0) {
    return idList;
  }

  if (isRemove) {
    idList.splice(idList.indexOf(id), 1);
  } else {
    idList[idList.length] = id;
  }


  updateCheckoutUrl(idList);
  list.data('id-list', idList);

  if (!isRemove) {
    var li = $('<li class="list-group-item">' + text + '<button class="close btn-sm"><span class="glyphicon glyphicon-sm glyphicon-remove"></span></button></li>');
    li.data('wishlist-id', id);
    list.find('ul').append(li);
  } else {
    $(".search-entry[data-wishlist-id=" + id + "] a").removeClass('disabled');
  }

  return idList;
}

function addIdToCart(id) {
  var wishlist = $('.search-entry[data-wishlist-id=' + id + ']');
  addToCart(wishlist);
}

function addToCart(entry) {
  var idList = updateIdList(entry.data('wishlist-id'), entry.find('h3').html());

  entry.find('a').addClass('disabled');
}

function updateCheckoutUrl(idList) {
  var checkoutBtn = $('#checkout-btn');
  if (idList.length == 0) {
    $('#empty-list-message').show();
    checkoutBtn.addClass('disabled');
  } else {
    $('#empty-list-message').hide();
    checkoutBtn.removeClass('disabled');
  }

  var href = checkoutBtn.attr('href');
  if (href) {
    href = href.replace(/\?.+/, "") + "?id_list=" + idList;
    checkoutBtn.attr('href', href);
  }
}
</script>
<% end %>
