<tr>
  <td>
    <%= link_to_if user_is_admin?, partner.name, [:admin, partner.organization, partner] %>
  </td>
  <td><%= partner.email %></td>
  <td><input type=checkbox disabled <%= partner.is_coordinator ? 'checked' : '' %> /></td>
  <td><input type=checkbox disabled <%= partner.active ? 'checked' : '' %> /></td>
  <td>
    <%= link_to "Edit", url_for([:edit, get_namespace, partner.organization, partner]), class: "btn btn-xs btn-warning" %>
    <% if user_is_admin? %>
    <%= link_to "Toggle Coordinator", toggle_coordinator_admin_organization_partner_url(partner.organization, partner),  method: :put, class: "btn btn-danger btn-xs" %>
    <% end %>
    <%= link_to "Delete", url_for([get_namespace, partner.organization, partner]),  method: :delete, class: "btn btn-danger btn-xs", data: {confirm: 'This action cannot be undone. Are you sure?'} %>
  </td>
</tr>
