<div class="panel panel-default outer-panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3 class="panel-title">Organization Management</h3></div>
  <div class="panel-body">
    <p>The following organizations are registered in the system.</p>
  </div>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h3 class="panel-title">Organizations</h3></div>
      <table class="table table-striped table-condensed">
        <caption>
          <% if user_is_admin? %>
            <%= link_to '<i class="glyphicon glyphicon-plus"></i> New Organization'.html_safe, new_admin_organization_url, :class => "btn btn-primary btn-xs" %>
          <% end %>
          <div class="pull-right">

           <input type="text" id="filtering" placeholder="Search by name..">
            
              <select id="academicYear">
              <option value="">All</option>
              <option value="?begin_date=2016-08-01&end_date=2017-07-31">2016-2017 Academic Year</option>
              <option value="?begin_date=2017-08-01&end_date=2018-07-31">2017-2018 Academic Year</option>
              <option value="?begin_date=2018-08-01&end_date=2019-07-31">2018-2019 Academic Year</option>
            </select>
          </div>
        </caption>
        <thead>
        <tr>
          <th>&nbsp;</th>
          <% if user_is_admin? %>
          <th>Included</th>
          <% end %>
          <th>Name</th>
          <th>Slug</th>
          <th>Campaigns</th>
          <th>Wish Lists</th>
          <th>Student Count</th>
          <th>Sponsored Wish Lists</th>
          <% if user_is_admin? %>
          <th>Sponsored Wish Lists Donations Made</th>
          <th>Program Donations</th>
          <% end %>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
          <%= render :partial => 'common/organizations/organization', :collection => @organizations %>
          <tr>
            <th>Totals</th><!--name - keep empty-->
            <% if user_is_admin? %>
            <th>&nbsp;</th><!--included - keep empty-->
            <% end %>
            <th>&nbsp;</th><!--name - keep empty-->
            <th>&nbsp;</th><!--slug - keep empty-->
            <th id="campaign-count"><%= @org_campaign_count %></th><!--campaign count-->
            <th id="wishlist-count"><%= @org_wishlist_count %></th><!--wish lists count-->
            <th id="student-count"><%= @org_student_count %></th><!--student count-->
            <th id="wishlist-donation-count"><%= @org_donation_count %></th><!--wish list donations count-->
            <% if user_is_admin? %>
            <th id="wishlist-donation-total"><%= number_to_currency(@org_donation_sum) %></th><!--wish list donations money total-->
            <th id="program-donation-amount"><%= number_to_currency(@org_programdonation_sum) %></th><!--program donations total-->
            <% end %>
            <th>&nbsp;</th><!--edit button - keep empty-->
            <th>&nbsp;</th>
          </tr>
        </tbody>
      </table>
    </div>
</div>

<%= content_for :foot do %>
  <script>
    $(window).load(function() {
      $('#academicYear').val(location.search);
    });

    $('#academicYear').change(function(){
    window.location.href = location.protocol + "//" + location.host + location.pathname + $(this).val();
    });

$(document).ready(function(){
	
	$("#filtering").keyup(function(){
		// When value of the input is not blank
        var term=$(this).val().toLowerCase();
		if( term != "")
		{
			// Show only matching TR, hide rest of them
			$("table tbody>tr").hide();
            $("td a.nf").filter(function(){
                   return $(this).text().toLowerCase().indexOf(term )>-1
            }).closest("tr").show();
		}
		else
		{
			// When there is no input or clean again, show everything back
			$("table tbody>tr").show();
		}
	});
});

  </script>
<% end %>
