<tr>
  <td>
    <a href="/admin/organizations/<%= campaign.organization_id %>/campaigns/<%= campaign.id %>"><%= campaign['name'] %></a>   
  </td>
  <td><%= campaign.name %></td>
  <td><%= campaign.deadline %></td>
</tr>
