<%= form_for [:update_counts, :admin, @campaign.organization, @campaign], remote: true, :html => {:class => "form-horizontal"} do |f| %>

  <div class="form-group">
    <%= f.label :pre_k_english_qty, class: "col-md-2 control-label" %>
    <div class="col-md-4">
      <%= f.number_field :pre_k_english_qty, class: "form-control", :required => true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :pre_k_bilingual_qty, class: "col-md-2 control-label" %>
    <div class="col-md-4">
      <%= f.number_field :pre_k_bilingual_qty, class: "form-control", :required => true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :k_english_qty, class: "col-md-2 control-label" %>
    <div class="col-md-4">
      <%= f.number_field :k_english_qty, class: "form-control", :required => true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :k_bilingual_qty, class: "col-md-2 control-label" %>
    <div class="col-md-4">
      <%= f.number_field :k_bilingual_qty, class: "form-control", :required => true %>
    </div>
  </div>
<% end %>
