<%= form_for [:admin, @campaign.organization, @campaign], :html => {:class => "form-horizontal"} do |f| %>

  <div class="form-group">
    <%= f.label :name, class: "col-md-1 control-label" %>
    <div class="col-md-4">
      <%= f.text_field :name, class: "form-control", :required => true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :deadline, class: "col-md-1 control-label" %>
    <div class="col-md-4">
      <%= f.text_field :deadline, :class => 'form-control', :required => true %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-1 col-md-4">
      <div class="checkbox">
        <label>
          <%= f.check_box :ready_for_donations %>
          Ready for Donations
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :address, class: "col-md-1 control-label" %>
    <div class="col-md-4">
      <%= f.text_area :address, :class => 'form-control', :rows => 3 %>
    </div>
  </div>

  <div class="form-group">
      <div class="col-md-offset-1 col-md-4 ">
          <%= f.submit 'Submit'.html_safe, :class => 'btn btn-primary' %>
          <%= link_to 'Back', admin_organization_url(@campaign.organization), :class => "btn btn-default"%>
      </div>
  </div>
</div>
  <% content_for :foot do %>
  <script type="text/javascript">
  $(function () {
    $('#campaign_deadline').datetimepicker({defaultDate: "<%= @campaign.deadline %>", format: "YYYY-MM-DD"});
  });
  </script>
  <% end %>
<% end %>
