<%= breadcrumb([
  @campaign.organization.name,
    {href: admin_organization_url(@campaign.organization), label: 'Campaigns'}
  ])
%>
<% @wishlists.each do |wishlist| %>
<div class="panel panel-default outer-panel">
  <!-- Default panel contents -->
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Teacher</dt>
      <dd><%= wishlist.teacher %></dd>
      <dt>Reader Name</dt>
      <dd><%= wishlist.reader_name %></dd>
      <dt>Reader Age</dt>
      <dd><%= wishlist.reader_age %></dd>
      <dt>Reader Gender</dt>
      <dd><%= wishlist.reader_gender %></dd>
      <dt>Grade Level</dt>
      <dd><%= wishlist.grade %></dd>
    </dl>
  </div>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Catalog</th>
          <th>Title</th>
          <th>Author</th>
          <th>ISBN</th>
        </tr>
      </thead>
      <tbody>
        <%
          current_catalog = ""
          wishlist.catalog_entries.joins(:book, :catalog).order(["catalogs.source", "books.title"]).each do |catalog_entry|
            if current_catalog != catalog_entry.catalog.source
              catalog_name = catalog_entry.catalog.source
              current_catalog = catalog_name
            else
              catalog_name = ""
            end
          -%>
        <tr>
          <td><%= catalog_name %></td>
          <td><%= catalog_entry.book.title %></td>
          <td><%= catalog_entry.book.author %></td>
          <td><%= catalog_entry.book.isbn %></td>
        </tr>
          <% unless catalog_entry.related_entry.nil? %>
          <tr>
            <td>&nbsp;</td>
            <td><%= catalog_entry.related_entry.book.title %></td>
            <td><%= catalog_entry.related_entry.book.author %></td>
            <td><%= catalog_entry.related_entry.book.isbn %></td>
          </tr>
          <% end -%>
        <% end -%>
      </tbody>
    </table>
  </div>
</div>
<% end %>
