<tr>
  <td><%= link_to wishlist.reader_name, [:partner, wishlist.campaign.organization, wishlist.campaign, wishlist] %></td>
  <td><%= wishlist.reader_age %></td>
  <td><%= wishlist.reader_gender %></td>
  <td><%= wishlist.wishlist_entries.count %></td>
  <td><%= number_to_currency(wishlist.wishlist_total) %></td>
  <td><%= number_to_currency(wishlist.donation_total) %></td>
  <td>
    <%= link_to "Edit", edit_partner_organization_campaign_wishlist_url(wishlist.campaign.organization, wishlist.campaign, wishlist), class: "btn btn-warning btn-sm" %>
    <%= link_to "Delete", partner_organization_campaign_wishlist_url(wishlist.campaign.organization, wishlist.campaign, wishlist),  method: :delete, class: "btn btn-danger btn-sm", data: {confirm: 'Are you sure?'} %>
  </td>
</tr>
