<div class="container">
<%= form_for :wishlist, url: url_for([:update_multiple, get_namespace, @campaign.organization, @campaign, :wishlists, :wishlists_ids => params[:wishlists_ids]]), :method => :put, :html => {:class => "form-horizontal"} do |f| %>
<div class="form-group row">
  <%= f.label :teacher, class: "col-md-1 control-label" %>
  <div class="col-md-4">
    <%= f.text_field :teacher, class: "form-control" %>
  </div>
</div>
<div class="form-group row">
  <%= f.label :reader_age, class: "col-md-1 control-label" %>
  <div class="col-md-4">
    <%= f.number_field :reader_age, class: "form-control", :min => 0, :max => 99, :step => 1 %>
  </div>
</div>

<div class="form-group row">
  <%= f.label :reader_gender, class: "col-md-1 control-label" %>
  <div class="col-md-4">
    <label class="radio-inline">
      <%= f.radio_button :reader_gender, 'M' %> Male
    </label>
    <label class="radio-inline">
      <%= f.radio_button :reader_gender, 'F' %> Female
    </label>
  </div>
</div>

<div class="form-group">
  <%= f.label :grade, class: "col-md-1 control-label" %>
  <div class="col-md-4">
    <%= f.select :grade, [
      ['Not Assigned', ''],
      ['PreK', 'PreK'],
      ['K', 'K'],
      ['1st', '1st'],
      ['2nd', '2nd'],
      ['3rd', '3rd'],
      ['4th', '4th'],
      ['5th', '5th'],
      ['6th', '6th'],
      ['7th', '7th'],
      ['8th', '8th'],
      ['9th', '9th'],
      ['10th', '10th'],
      ['11th', '11th'],
      ['12th', '12th']
    ] %>
  </div>
</div>

<div class="form-group">
  <%= f.label :language_id, class: "col-md-1 control-label" %>
  <div class="col-md-4">
    <%= f.collection_select :language_id, Language.all.order(:name), :id, :name, {include_blank: 'Select language preference'} %>
  </div>
</div>

<div class="form-group">
  <%= f.label :reading_level_id, class: "col-md-1 control-label" %>
  <div class="col-md-4">
    <%= f.collection_select :reading_level_id, ReadingLevel.all.order(:name), :id, :name, {include_blank: 'Select reading level'} %>
  </div>
</div>
<% end %>
</div>
