<div class="form-group row">
  <%= f.label :teacher, class: "col-md-1 control-label" %> (required)
  <div class="col-md-4">
    <%= f.text_field :teacher, class: "form-control", required: true %>
  </div>
</div>

<div class="form-group">
  <%= f.label :reader_name, class: "col-md-1 control-label" %> (required)
  <div class="col-md-4">
    <%= f.text_field :reader_name, class: "form-control", required: true %>
  </div>
</div>

<div class="form-group row">
  <%= f.label :reader_age, class: "col-md-1 control-label" %>
  <div class="col-md-4">
    <%= f.number_field :reader_age, class: "form-control", :min => 0, :max => 99, :step => 1 %>
  </div>
</div>

<div class="form-group row">
  <%= f.label :reader_gender, class: "col-md-1 control-label" %>
  <div class="col-md-4">
    <label class="radio-inline">
      <%= f.radio_button :reader_gender, 'M' %> Male
    </label>
    <label class="radio-inline">
      <%= f.radio_button :reader_gender, 'F' %> Female
    </label>
  </div>
</div>

<div class="form-group">
  <%= f.label :grade, class: "col-md-1 control-label" %> (required)
  <div class="col-md-4">
    <%#= f.text_field :grade, class: "form-control", required: true %>
    <%= f.select :grade, [
      ['PreK', 'PreK'],
      ['K', 'K'],
      ['1st', '1st'],
      ['2nd', '2nd'],
      ['3rd', '3rd'],
      ['4th', '4th'],
      ['5th', '5th'],
      ['6th', '6th'],
      ['7th', '7th'],
      ['8th', '8th']
    ], {}, {class: "form-control", required: true} %>
  </div>
</div>

<!--div class="form-group">
  <%= f.label :grl, class: "col-md-1 control-label" %>
  <div class="col-md-4">
    <%= f.select :grl, ("A".."Z").collect{|ltr| [ltr, ltr]}, :prompt => true %>
  </div>
</div-->
<% if user_is_admin? %>
<div class="form-group">
  <%= f.label "MHL ID", class: "col-md-1 control-label" %>
  <div class="col-md-4">
    <%= f.text_field :external_id, class: "form-control" %>
  </div>
</div>
<% end %>

<div class="form-group">
  <div class="col-md-offset-1 col-md-4">
    <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
    <%= link_to 'Back', back_url, :class => "btn btn-default"%>
  </div>
</div>
