<div id="react-root"></div>
<script>
  var current_wishlist = [
    <% @wishlist.wishlist_entries.each_with_index do |entry,idx| %>
    <%= ', ' unless idx == 0 %>{
      id: <%= entry.id %>,
      catalog_entry_id: <%= entry.catalog_entry.id %>,
      name: '<%= j entry.catalog_entry.book.title.html_safe %>',
      subname: '',
      imageUrl: '<%= entry.catalog_entry.book.cover_image_url %>',
      author: '<%= j entry.catalog_entry.book.author.html_safe %>',
      description: '<%= j entry.catalog_entry.book.description.html_safe %>',
      level: '<%= j entry.catalog_entry.book.level %>',
      ar_points: '<%= entry.catalog_entry.book.ar_points %>',
      grl: '<%= entry.catalog_entry.book.grl %>'
    }

    <% end %>
  ];

  var all_active_books = [
    <% @active_books.each_with_index do |entry,idx| %>
    <%= ', ' unless idx == 0 %>{
      catalog_entry_id: <%= entry.id %>,
      name: '<%= j entry.book.title.html_safe %>',
      subname: '',
      imageUrl: '<%= entry.book.cover_image_url %>',
      author: '<%= j entry.book.author.html_safe %>',
      description: '<%= j entry.book.description.html_safe %>',
      level: '<%= j entry.book.level %>',
      ar_points: '<%= entry.book.ar_points %>',
      grl: '<%= entry.book.grl %>'
    }
    <% end %>
  ];
  var api_add_url = '<%= @add_url %>';
  var api_delete_url = '<%= @delete_url %>';
  var back_url = '<%= @back_url %>';
  var reader = '<%= j @wishlist.public_name.html_safe %>';
  var grl = '<%= @wishlist.grl %>';
  // Very hacky solution for attempting to fix a "timeout" issue on this page
  // that I couldn't recreate
  function heartbeat() {
     $.ajax('/');
  }
  window.setInterval("heartbeat()", 1000*60*5);
</script>
<%= javascript_include_tag 'main' %>
