<%= form_for [:admin, @organization], :html => {:class => "form-horizontal"} do |f| %>

  <div class="form-group">
    <%= f.label :name, class: "col-md-1 control-label" %>
    <div class="col-md-4">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :contact_name, class: "col-md-1 control-label" %>
    <div class="col-md-4">
      <%= f.text_field :contact_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :contact_email, class: "col-md-1 control-label" %>
    <div class="col-md-4">
      <%= f.text_field :contact_email, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-1 col-md-4">
      <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
      <%= link_to 'Back', admin_organizations_url(), :class => "btn btn-default"%>
    </div>
  </div>

<% end %>
