<div class="panel panel-default outer-panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3 class="panel-title">Organization Management</h3></div>
  <div class="panel-body">
    <p>The following organizations are registered in the system.</p>
  </div>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h3 class="panel-title">Organizations</h3></div>
      <table class="table table-striped table-condensed">
        <caption><%= link_to '<i class="glyphicon glyphicon-plus"></i> New Organization'.html_safe, new_admin_organization_url, :class => "btn btn-primary btn-xs" %></caption>
        <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Included</th>
          <th>Name</th>
          <th>Slug</th>
          <th>Campaigns</th>
          <th>Wish Lists</th>
          <th>Student Count</th>
          <th>Sponsored Wish Lists</th>
          <th>Sponsored Wish Lists Donations Made</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <%= render :partial => 'organization', :collection => @organizations %>
        <tr>
          <th>Totals</th><!--name - keep empty-->
          <th>&nbsp;</th><!--included - keep empty-->
          <th>&nbsp;</th><!--name - keep empty-->
          <th>&nbsp;</th><!--slug - keep empty-->
          <th id="campaign-count"><%= @org_campaign_count %></th><!--campaign count-->
          <th id="wishlist-count"><%= @org_wishlist_count %></th><!--wish lists count-->
          <th id="student-count"><%= @org_student_count %></th><!--student count-->
          <th id="wishlist-donation-count"><%= @org_donation_count %></th><!--wish list donations count-->
          <th id="wishlist-donation-total"><%= number_to_currency(@org_donation_sum) %></th><!--wish list donations money total-->
          <th>&nbsp;</th><!--edit button - keep empty-->
          <th>&nbsp;</th>
        </tr>
        </tbody>
      </table>
    </div>
</div>
