<div class="panel panel-default outer-panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3 class="panel-title">Organization Detail</h3></div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @organization.name %></dd>
    </dl>
  </div>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h3 class="panel-title">Campaigns</h3></div>
    <table class="table table-striped table-condensed">
      <caption><%= link_to '<i class="glyphicon glyphicon-plus"></i> New Campaign'.html_safe, new_admin_organization_campaign_url(@organization), :class => "btn btn-xs btn-primary" %></caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Deadline</th>
          <th>Ready for Donations</th>
          <th>Can Edit Wish Lists</th>
          <th>Wishlists</th>
          <th>Wishlist Total</th>
          <th>Donation Total</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
    <%= render :partial => 'campaign', :collection => @organization.campaigns %>
      </tbody>
    </table>
  </div>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h3 class="panel-title">Volunteers</h3></div>
    <table class="table table-striped table-condensed">
      <caption><%= link_to '<i class="glyphicon glyphicon-plus"></i> New Volunteer'.html_safe, new_admin_organization_partner_url(@organization), :class => "btn btn-xs btn-primary" %></caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Active</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
    <%= render :partial => 'partner', :collection => @organization.partners %>
      </tbody>
    </table>
  </div>
</div>
