<tr>
  <td><%= link_to wishlist.reader_name, [get_namespace, @organization, wishlist.campaign, wishlist] %></td>
  <td><%= wishlist.reader_age %></td>
  <td><%= wishlist.reader_gender %></td>
  <td><%= wishlist[:book_count] %></td><%# These values are coming from a custom query for perf reason %>
  <% if admin? %>
  <td><%= number_to_currency(wishlist[:wishlist_total]) %></td><%# These values are coming from a custom query for perf reason %>
  <td><%= number_to_currency(wishlist[:donation_total]) %></td><%# These values are coming from a custom query for perf reason %>
  <% end %>
  <td>
    <% if wishlist.can_edit_wishlists %>
    <%= link_to "Pick Books", url_for([:manage, get_namespace, wishlist.campaign.organization, wishlist.campaign, wishlist]), class: "btn btn-info btn-xs" %>
    <%= link_to "Edit", url_for([:edit, get_namespace, wishlist.campaign.organization, wishlist.campaign, wishlist]), class: "btn btn-warning btn-xs" %>
    <%= link_to "Delete", url_for([get_namespace, wishlist.campaign.organization, wishlist.campaign, wishlist]),  method: :delete, class: "btn btn-danger btn-xs", data: {confirm: 'This action cannot be undone. Are you sure?'} %>
    <% end %>
  </td>
</tr>
