<%= content_for :breadcrumb do %>
<%= breadcrumb([
  @campaign.organization.name,
    {href: admin_organization_url(@campaign.organization), label: 'Campaigns'}
  ])
%>
<% end %>

<div id="distribution-buttons" class="btn-group btn-group-lg" role="group" aria-label="Distribution Sort">
  <a href='?sort=grade' type="button" class="btn btn-<%= @sort_type == 'grade' ? 'primary' : 'default' %>">Grade</a>
  <a href='?sort=teacher' type="button" class="btn btn-<%= @sort_type == 'teacher' ? 'primary' : 'default' %>">Teacher</a>
  <a href='?sort=student' type="button" class="btn btn-<%= @sort_type == 'student' ? 'primary' : 'default' %>">Student</a>
</div>
<br>
<div class="panel panel-default">
  <table class="table table-striped table-condensed table-responsive">
    <thead>
      <tr>
        <% @fields.each do |field| %>
        <th><%= field.titleize %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% @campaign.wishlists.order(@sort).each do |wishlist| %>
      <tr>
        <% @fields.each do |field| %>
        <td><%= wishlist[field] || resolve_pack(@campaign, wishlist)[field.to_sym] %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
