<%= content_for :breadcrumb do %>
<%= breadcrumb([
  @campaign.organization.name,
    {href: admin_organization_url(@campaign.organization), label: 'Campaigns'}
  ])
%>
<% end %>
<% @wishlists.each do |wishlist| %>
<div class="panel panel-default outer-panel">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3 class="panel-title"><%= @campaign.organization.name %></h3></div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Teacher</dt>
        <dd><%= wishlist.teacher %></dd>
        <dt>Reader Name</dt>
        <dd><%= wishlist.reader_name %></dd>
        <dt>Reader Age</dt>
        <dd><%= wishlist.reader_age %></dd>
        <dt>Reader Gender</dt>
        <dd><%= wishlist.reader_gender %></dd>
        <dt>Grade Level</dt>
        <dd><%= wishlist.grade %></dd>
      </dl>
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <table id="pick-list" class="table table-striped table-condensed table-responsive">
          <thead>
            <tr>
              <th>Title</th>
              <th>Author</th>
            </tr>
          </thead>
          <tbody>
            <% wishlist.catalog_entries.includes(:book, :catalog).order(["books.title"]).each do |catalog_entry| %>
            <tr>
              <td><%= catalog_entry.book.title %></td>
              <td><%= catalog_entry.book.author %></td>
            </tr>
              <% unless catalog_entry.related_entry.nil? %>
              <tr>
                <td>&nbsp;</td>
                <td><%= catalog_entry.related_entry.book.title %></td>
                <td><%= catalog_entry.related_entry.book.author %></td>
              </tr>
              <% end -%>
            <% end -%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% end %>
