<div class="featurette hero2">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="featurette-heading">Special Thanks to Our Corporate Sponsors</h2>
    </div>
  </div>
  <div class="row lead-logos">
    <div class="col-sm-3 lead-logo phillips" style="background-image:url(<%= asset_path('66color.gif') %>);" ></div>
    <div class="col-sm-3 lead-logo marathon" style="background-image:url(<%= asset_path('marathon-oil-logo.png') %>);" ></div>
    <div class="col-sm-3 lead-logo credera" style="background-image:url(<%= asset_path('credera.png') %>);" ></div>
    <div class="col-sm-3 lead-logo superbowl" style="background-image:url(<%= asset_path('super-bowl-logo.jpg') %>);" ></div>
  </div>
</div>

<div class="featurette hero2">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="featurette-heading">Special Thanks to Our Book Publisher Partners</h2>
    </div>
  </div>
  <div class="row lead-logos">
    <div class="col-sm-2 lead-logo arte" style="background-image:url(<%= asset_path('arte-publico-logo.jpg') %>);" ></div>
    <div class="col-sm-2 lead-logo brightsky" style="background-image:url(<%= asset_path('brightsky-logo.jpg') %>);" ></div>
    <div class="col-sm-2 lead-logo longtale" style="background-image:url(<%= asset_path('longtale-logo.png') %>);" ></div>
    <div class="col-sm-2 lead-logo scholastic" style="background-image:url(<%= asset_path('scholastic-logo.png') %>);" ></div>
  </div>
</div>
