<tr>
  <td><%= catalog_entry.book.title %></td>
  <td><%= catalog_entry.book.author %></td>
  <td><%= catalog_entry.book.level %></td>
  <td><%= number_to_currency(catalog_entry.price) %></td>
  <td><%= catalog_entry.book.isbn %></td>
</tr>
