<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Home Library</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <nav class="main navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="pull-left brand-logo">
          <a href="/"><img src="<%= asset_path('logo.png') %>" alt="Barbara Bush Houston Literacy Foundation" height="50px" /></a>
        </div>
        <ul class="nav navbar-nav">
          <li><%= link_to 'Catalogs', admin_catalogs_url if admin? %></li>
          <li><%= link_to 'Organizations', admin_organizations_url if admin? %></li>
          <li><%= link_to 'Users', admin_users_url if admin? %></li>
          <li><%= link_to 'Campaigns', '/volunteer' if partner? %></li>
        </ul>
        <ul class="pull-right nav navbar-nav">
          <li>
            <a href="mailto:info@bushhoustonliteracy.org">Inquiries or Help</a>
          </li>
          <% if user_is_admin? -%>
          <li>
            <%= link_to 'Admin', '/admin' %>
          </li>
          <% end -%>
          <li>
            <a href="#"><img class="avatar" src="<%= session[:userinfo]['info']['image'] %>"/>
              <span><%= session[:userinfo]['info']['name'] %></span>
            </a>
          </li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="admin-template">
        <% flash.each do |name, msg| -%>
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= msg %>
        </div>
        <% end -%>
        <%= yield %>
      </div>
    </div><!-- /.container -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	  <%= yield :foot %>
  </body>
</html>
