<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png?v2=true">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png?v2=true">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png?v2=true">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png?v2=true">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png?v2=true">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png?v2=true">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png?v2=true">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png?v2=true">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png?v2=true">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v2=true">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png?v2=true">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v2=true">
    <link rel="manifest" href="/manifest.json">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png?v2=true">
    <meta name="theme-color" content="#ffffff">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@BushHoustonLit" />
    <meta name="twitter:image" content="<%= asset_url('twitter-card-image.jpg') %>" />
    <meta property="og:url"           content="<%= request.original_url %>" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="My Home Library" />
    <meta property="og:description"   content="You can make a difference in a child’s life by sponsoring a home library with your tax-deductible donation. The My Home Library program of the Barbara Bush Houston Literacy Foundation empowers children to become strong readers by providing them access to books in their home." />
    <meta property="og:image"         content="<%= asset_url('facebook-card-image.jpg') %>" />
    <meta property="og:image:width"   content="1200" />
    <meta property="og:image:height"  content="630" />
    <meta property="og:image:alt"     content="Two students showing off books from their home library" />

    <title>My Home Library - Barbara Bush Houston Literacy Foundation</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= scrivito_head_tags %>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://use.typekit.net/dkz4tle.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>

  <body>
    <!-- <%= yield :header %> -->
    <%= scrivito_body_tags %>

    <div class="container-fluid">
      <% flash.each do |name, msg| -%>
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= msg %>
        </div>
      <% end -%>
    </div>
    <!-- /.container -->

    <%= javascript_include_tag 'application' %>
    <%= yield :foot %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '<%=ENV["ANALYTICS_TRACKING_ID"] %>', 'auto');
      ga('send', 'pageview');
    </script>

    <%= yield %>
    <div class="container-fluid">
      <div class="row featurette hero-bottom">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="text-center center-block" id="bbhl-logo">
            <strong>My Home Library</strong> is an initiative of<br />
            <a href="http://www.bushhoustonliteracy.org/" target=_BLANK>
              <img class="logo" src="<%= asset_path('logo.png') %>" alt="Barbara Bush Houston Literacy Foundation" />
            </a>
          </div>
		      <div class="social-media">
            <a href="https://www.facebook.com/bushhoustonliteracy/" class="fa fa-facebook"></a>
            <a href="mailto:info@myhomelibraryhouston.org?subject=I'd like more information">Contact Us</a>
            <a href="https://twitter.com/BushHoustonLit" class="fa fa-twitter"></a>
          </div>
          <div class="links">
            <span><%= link_to 'Home', scrivito_path(Obj.find_by_permalink('home')) unless Rals.env.test? %></span>
            <% get_scrivito_menu_items.each do |obj| %>
              <span><%= link_to obj.menu_text || "*", scrivito_path(obj) %></span>
            <% end %>
            <span><a href="search">Be a Donor</a></span>
          </div>
          <p>Copyright My Home Library 2017-<%= Date.today.year %> All Rights Reserved</p>
        </div>
      </div>
    </div>

  </body>
</html>
